.idea
__pycache__/config.cpython-38.pyc
__pycache__/list_bot.cpython-38.pyc
__pycache__/list_roulette.cpython-38.pyc
__pycache__/list_test_bot.cpython-38.pyc
config.py
test_bot.py
roulette.py
list_bot.py
list_roulette.py
list_test_bot.py
list_bot.txt
list_roulette.txt